
body {
    background-image: url('../images/darksharpedges.png');
}
.losingBackground {
    background-image: url('http://31.media.tumblr.com/3fc81aab89f90b9904c3a48137f9d9c4/tumblr_mo13zmlJi81s3979jo1_400.gif');
}

#hardBackground {
    background-color: #0000ff;
}

.title {
    margin-top: 2%;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 65px;
    color: #95ffa5;
}
#ask {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
.grid-container {
    display: grid;
    justify-content: center;
}

#form1 {
    text-align: center;
}

.square {
    opacity: 0.6;
}
.red {
    width: 200px;
    height: 200px;
    background-color: #f00000;
    margin: 5px;
    border: 5px solid black;
    /*animation: #ff0000;*/
}
.green {
    width: 200px;
    height: 200px;
    background-color: #00d400;
    margin: 5px;
    border: 5px solid black;
    /*animation: #00D400;*/
}
.yellow {
    width: 200px;
    height: 200px;
    background-color: #f2f200;
    margin: 5px;
    border: 5px solid black;
    /*animation: #FFFF00;*/
}
.blue {
    width: 200px;
    height: 200px;
    background-color: #0000ff;
    margin: 5px;
    border: 5px solid black;
    /*animation: #0000FF;*/
}
#play {
    background-color: #558883;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 10%;
    border-radius: 20px;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    margin-right: 40px;
}
#play:hover {
    background-color: #558883;
    -webkit-animation: pulse infinite 1s;
    animation: pulse infinite 1s;
}

#select {
    outline: none;
    background-color: papayawhip;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

#level {
    font-size: 50px;
    font-family: 'VT323', monospace;
    /*margin-left: 44%;*/
    color: aliceblue;
    /*margin-left: 35%;*/

}
#hiddenRound {
    display: none;
}

#highScoreHeader, #highScore {
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: aliceblue;
    /*margin-left: 20%;*/
    clear: right;
}

@media screen and (max-width: 600px) {

    .grid-container {
        grid-template-columns: auto auto;
    }

    .title {
        font-size: 45px;
    }

    #ask {
        font-size: 25px;
    }

    .square {
        height: 150px;
        width: 150px;
    }

    #play {
        width: 40%;
        background-color: #558883;
    }

    #select {
        outline: none;
        background-color: papayawhip;
    }

    #level {
        font-size: 30px;
    }

    #highScoreHeader {
        font-size: 30px;
    }

}